*{
    margin: 0%;
    padding: 0%;
}
body{
   
}
.st{
    float: left;
    padding-left: 20px;
    height: 57px;
    background-attachment: fixed;
}
.st h1{
    font-size: 35px;
    color:tomato;
    line-height: 57px;
}
.star{
    float: right;
    background-attachment: fixed;
}
.star ul{
    display: inline-block;
    list-style-type: none;
}
.star ul li{
    display: inline-block;
    text-decoration: none;
    padding: 20px;
}
.star ul li a{
    text-decoration: none;
}
.star ul li a:hover{
    color: yellowgreen;
}
.star ul li a:active{
    color: tomato;
}
.star1{
    height: 100px;
    width: 100%;
    background-color: turquoise;
}
.star1 h1{
    line-height: 100px;
    text-align: center
}
.star2{
    padding-left: 20px;
    padding-right: 20px;
}
.star2 ul{
    display: inline-block;
    list-style-type: none;
}
.star2 ul li{
    display: inline-block;
    padding: 10px;
}
.star2 ul li h3{
    text-align: center;
    font-weight: lighter;
}
.learn{
    padding-left: 20px;
}
.learn ul{
    display: inline-block;
    list-style: none;
}
.learn ul li{
    display: inline-block;
    padding: 3px 175px;
    margin: 0px 0px;
     
}
.learn ul li input{
    border-radius: 0px;
    background-color: yellowgreen;
    cursor: pointer;
    padding: 5px 6px;
}
.star3{
    
    float: left;
    padding-left: 20px;
    background-color: yellowgreen;
}
.star4{
    background-color: burlywood;
    height: 300px;
    width: 40%;
    float: right;
    padding-right: 20px;
    margin-top: 100;
}


.head28{
    padding-right: 80px;
    padding-left: 80px;
    list-style-type: none;
    height: 1000px;
     
}
.head28 h1{
    color: gold;
}
.head28 h3{
    font-weight: lighter;
}
.slider{
    width: 1200px;
    height: 100%;
    overflow: hidden;
    margin-top: 60px;
  
}

.slides{
    width: 540%;
    height: 100%;
    display: flex;
 
}

.slides input{
  display: none;
}

.slide{
   
  height: 100%;
}

.slide img{
   width: 100%;
   height: 700px;
}

/*css for manual slide navigation*/
.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -383px;
    display: flex;
    justify-content: center;
    padding-left: 200px;
  }
  .manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  .manual-btn:not(:last-child){
    margin-right: 5px;
  }
  .manual-btn:hover{
    background: #40D3DC;
  }
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }

  /*css for automatic navigation*/

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 617px;
    padding-left: 200px;
  }
  .navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  .navigation-auto div:not(:last-child){
    margin-right: 5px;
  }
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
  }
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40D3DC;
  }